<div class="container">
    <div class="card">
        <div class="info">
            <h2>Threshold: {{ event.threshold }}</h2>
            <h2>Action: {{ event.action }}</h2>
            <h3>Data: {{ event.data | uppercase }}</h3>
        </div>
        <button class="btn btn-primary btn-edit" (click)="openModal('action')">
            Edit Action
        </button>
        <button class="btn btn-primary btn-edit" (click)="openModal('data')">
            Edit Data
        </button>
        <button
            class="btn btn-primary btn-edit"
            (click)="openModal('threshold')"
        >
            Edit Threshold
        </button>
        <button class="btn btn-danger btn-edit" (click)="removeEvent()">Remove Event</button>
    </div>
</div>

<app-search-modal
    [channel]="channel"
    (resultChosen)="resultChosen($event)"
></app-search-modal>
<app-input-modal
    [channel]="channel"
    [placeHolder]="'Donation Threshold'"
    (validate)="resultChosen($event)"
></app-input-modal>
