<input type="file" class="file-input"
       (change)="onFileSelected($event)" #fileUpload>

<div class="file-upload">

   <h2>{{fileName || "No file uploaded yet."}}</h2>

    <button mat-mini-fab color="primary" class="btn btn-primary"
      (click)="fileUpload.click()">
      Upload Config File
    </button>
</div>


<button class="btn btn-primary" (click)="add()">Register New Event</button>
<button class="btn btn-primary" (click)="generateConfig()">Generate Config File</button>

<div class="container">
    <app-event *ngFor="let event of events" [event]="event" (delete)="onDelete($event)" (sort)="sortEvents()"></app-event>
</div>
