@import "ngx-toastr/toastr";

@font-face {
  font-family: "Roboto";
  src: url("./assets/fonts/Roboto-Regular.ttf");
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

* {
  font-family: "Roboto", sans-serif !important;
}

body {
  background-color: rgba(33, 37, 41, 1);
}

.text-center {
  text-align: center;
}

.btn {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
}

.btn-primary {
  background-color: #007bff;

  &:hover {
    background-color: #0056b3;
    cursor: pointer;
  }
}

.btn-danger {
    background-color: #dc3545;

    &:hover {
        background-color: #c82333;
        cursor: pointer;
    }
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
